/* 
Table of contents
===========================================
- General Style
- Utility Classes
- Modal Window
- Button Style
- Form Elements
- Page Header
- Breadcrumb
- Tab
- Pagination
- Section Title
===========================================
*/


/*
------------------------------------
- General Style
------------------------------------
*/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #1c1c1c;
    background-color: #005b96;
   /* background-image: url(../img/bg.png);*/
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #606060;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
img {
    max-width: 100%;
    height: auto;
}

.imgset
{
    max-height: 20%;
    max-width: 50%;
}


button,
input,
textarea {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

/*
------------------------------------
- Utility Classes
------------------------------------
*/

.inner-padding {
    padding: 45px 0px;
}
.inner-padding2 {
    padding: 90px 0px 45px;
}
.inner-padding3 {
    padding: 45px 0px 90px;
}
.inner-padding4 {
    padding: 90px 0px;
}
.pn {
    padding: 0;
}
.mn {
    margin: 0;
}

/*
------------------------------------
- Modal Window
------------------------------------
*/

.modal-backdrop {
    z-index: -1;
}

/*
------------------------------------
- Button Style
------------------------------------
*/

.btn {
    border-radius: 0px;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.focus,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background: #ad2105;
    box-shadow: none;
    color: #fff!important;
    outline: 0px;
    border-color: #ad2105;
}
.btn-sm-field {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff!important;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 0px;
    border: 2px solid #d32d0b;
    background-color: #d32d0b;
}
.btn-submit {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    background-color: #d32d0b;
    padding: 10px 23px;
    border: 0px;
}
.btn-submit-white {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    color: #d32d0b;
    text-transform: uppercase;
    background-color: #fff;
    padding: 10px 23px;
    border: 1px solid #d32d0b;
}
.btn-sm-outline {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #e7e7e7;
    text-transform: uppercase;
    padding: 10px 22px;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #d32d0b;
}
.btn-search {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    border: 0px;
    background: #d32d0b;
}
.btn-search:hover {
    background: #ad2105;
    box-shadow: none;
    color: #fff!important;
    outline: 0px;
    border-color: #ad2105;
}

/*
------------------------------------
- Form Elements
------------------------------------
*/

.form-inline {}
.form-group {
    width: 100%;
    background-color: transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group {
    width: 100%;
    border: 1px solid #666666;
    margin-bottom: 30px;
}
.form-control {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #e7e7e7;
    background-color: transparent;
    background-image: none;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control2 {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #c4c3c3;
    background-color: transparent;
    background-image: none;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group-btn {}
label {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #e7e7e7;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: none;
}
.ie .form-group label {
    display: block;
}
.form-message {
    width: 100%;
    padding: 15px 12px;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    color: #606060;
    background-color: transparent;
    background-image: none;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
------------------------------------
- Panel Group
------------------------------------
*/


/*
------------------------------------
- Page Header
------------------------------------
*/

.page-header {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background-image: url('../img/header-bg-1.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    z-index: 1;
    border: 0px;
    overflow: hidden;
}
.page-header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .8;
    z-index: -1;
}
.ri-grid {
    z-index: -1;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ri-grid ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.ri-grid ul:before,
.ri-grid ul:after {
    content: '';
    display: table;
}
.ri-grid ul:after {
    clear: both;
}
.ri-grid ul {
    zoom: 1;
}
.ri-grid ul li {
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 400px;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    background: #000;
}
.ri-grid ul li a {
    display: block;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.header-caption {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: table;
    text-align: center;
}
.header-caption-contant {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header-caption-inner {}
.header-caption-inner h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.header-caption-inner p,
.header-caption-inner a {
    font-size: 14px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0;
    color: #fff!important;
    margin: 0;
    text-transform: uppercase;
}

/*
------------------------------------
- Bread Crumb
------------------------------------
*/


/*
------------------------------------
- Pagination
------------------------------------
*/


/*
------------------------------------
- Section Title
------------------------------------
*/


/* 
---------------------------------
- Customize Owl Carousel
---------------------------------
*/

.owl-carousel .owl-item img {
    width: 100%;
    height: auto;
    max-width: none;
}
.owl-dots {
    width: 100%;
    position: absolute;
    height: 30px;
    text-align: center;
    bottom: 60px;
}
.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    margin: 0px 5px;
    padding: 3px;
    display: inline-block;
    position: relative;
}
.owl-dot.active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #d32d0b!important;
    border-color: #d32d0b;
}
.owl-nav {
    position: absolute;
    width: 110%;
    height: 0;
    top: 50%;
    left: -5%;
    padding: 0px;
    -webkit-transform: translateY(18%);
    -moz-transform: translateY(18%);
    -ms-transform: translateY(18%);
    -o-transform: translateY(18%);
    transform: translateY(18%);
}
.owl-prev,
.owl-next {
    font-size: 35px;
    width: auto;
    height: auto;
    color: #fff;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.owl-prev {
    float: left;
}
.owl-next {
    float: right;
}
.owl-prev:hover,
.owl-next:hover {
    color: #d32d0b;
}
