/* Medium Layout: 1367px. */

@media only screen and (min-width: 1025px) and (max-width: 1367px) {
    /* Nav Style */
    .navbar-default .navbar-nav > li > a {
        padding: 30px 20px;
    }
    /* Hero Section */
    .hero-slider-inner .owl-nav {
        padding: 0px 4%;
    }
}

/* Tablet Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    /* Customize Owl Carousel */
    .owl-dots {
        bottom: 0;
    }
    .owl-nav {
        width: 100%;
        left: 0%;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
    .owl-prev,
    .owl-next {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        background: #000;
    }
    /* Nav Section */
    .nav-area {
        padding: 0px;
        background-color: rgba(30, 30, 30, 0.94);
    }
    .navbar-nav {
        float: left;
        width: 100%;
    }
    .navbar> .container .navbar-brand {
        padding: 15px;
    }
    .navbar-nav > li {
        width: 100%;
        border-bottom: 1px solid rgba(30, 30, 30, 0.94);
    }
    .navbar-nav > li:last-child {
        border-bottom: 0px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-default .navbar-nav >.active > a:after {
        height: 40px;
        width: 3px;
        top: 15px;
        left: 0px;
    }
    .dropdown-menu {
        background-color: rgba(30, 30, 30, 0.94);
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        border-top: 1px solid #fff;
        margin-top: 60px;
    }
    .navbar-header {
        width: 100%;
    }
    .nav-area-6.navbar> .container .navbar-brand,
    .nav-area-7.navbar> .container-fluid .navbar-brand {
        margin-top: 0;
    }
    /* Hero Section */
    .hero-slider-inner.owl-carousel .owl-item img {
        width: auto;
        height: 100%;
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    .hero-caption-inner h1 {
        font-size: 80px;
        line-height: 80px;
    }
    /* Service Section */
    .service-content {
        padding: 25px;
    }
    /* Event Section */
    .event-slider .owl-nav {
        width: 100%;
        left: 0;
        top: 53%;
    }
    /* Dj's Profile Section */
    .profile {
        margin-top: 20px;
    }
    .profile-tab {
        padding: 30px 0px;
    }
    .profile-tab {
        padding-bottom: 30px;
    }
    /* Blog Section */
    .post-link {
        margin-bottom: 8px;
    }
    .post-sticker {
        line-height: 18px;
    }
    .post-row p {
        margin: 0px;
    }
    /* Header Section */
    .ri-grid ul {
        padding-top: 60px;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1020px) {
    /* Utility Classes */
    .inner-padding {
        padding: 30px 0px;
    }
    .inner-padding2 {
        padding: 75px 0px 30px;
    }
    .inner-padding3 {
        padding: 30px 0px 75px;
    }
    .inner-padding4 {
        padding: 75px 0px;
    }
    /* Custom Typography */
    .section-title-area {
        margin-bottom: 25px;
    }
    .section-title-area-2 {
        margin-bottom: 20px;
    }
    /* Customize Owl Carousel */
    .owl-dots {
        bottom: 30px;
    }
    .owl-nav {
        width: 100%;
        left: 0%;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
    .owl-prev,
    .owl-next {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        background: #000;
    }
    /* Nav Section */
    .nav-area {
        padding: 0px;
        background-color: rgba(30, 30, 30, 0.94);
    }
    .navbar-nav {
        float: left;
        width: 100%;
    }
    .nav-area-6.navbar> .container .navbar-brand {
        margin: 0px;
    }
    .navbar-nav > li {
        width: 100%;
        border-bottom: 1px solid rgba(30, 30, 30, 0.94);
    }
    .navbar-nav > li:last-child {
        border-bottom: 0px;
    }
    .navbar-default .navbar-nav > li > a,
    .nav-area-5.navbar-default .navbar-nav > li > a,
    .nav-area-5.sticky.navbar-default .navbar-nav > li > a,
    .nav-area-6.navbar-default .navbar-nav > li > a,
    .nav-area-6.sticky.navbar-default .navbar-nav > li > a,
    .nav-area-7.navbar-default .navbar-nav > li > a,
    .nav-area-7.sticky.navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .navbar-default .navbar-nav >.active > a:after {
        height: 40px;
        width: 3px;
        top: 15px;
        left: 0px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        width: 100%;
        background-color: rgba(30, 30, 30, 0.94);
    }
    .navbar-nav .open .sub-menu {
        position: static;
        opacity: 1;
        -webkit-transform: rotateY(0deg) translateX(0);
        -moz-transform: rotateY(0deg) translateX(0);
        -ms-transform: rotateY(0deg) translateX(0);
        -o-transform: rotateY(0deg) translateX(0);
        transform: rotateY(0deg) translateX(0);
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        margin-top: 60px;
    }
    .navbar-header {
        width: 100%;
    }
    .nav-area-7.navbar> .container-fluid .navbar-brand {
        margin-top: 0;
    }
    /* Hero Section */
    .hero-slider-inner.owl-carousel .owl-item img {
        width: auto;
        height: 100%;
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    .hero-caption-inner h1 {
        font-size: 80px;
        line-height: 80px;
    }
    /* About Section */
    .about-content {
        padding: 70px 30px 50px;
    }
    .jockey-slider .owl-nav {
        top: 40%;
    }
    /* Service Section */
    .service-item {
        margin-bottom: 30px;
    }
    /*Event Section */
    .event-slider .owl-nav {
        width: 100%;
        left: 0;
        top: 52%;
    }
    .popular-event {
        margin-bottom: 30px;
    }
    /* Dj's Profile Section */
    .profile-item-tab {
        margin-bottom: 30px;
    }
    .profile-tab {
        padding: 30px;
    }
    /* Blog Section */
    .post-row {
        margin-bottom: 30px;
    }
    .post-link {
        margin-bottom: 15px;
    }
    .post-body p {
        margin: 10px 0px;
    }
    .recent-post-feature {
        width: 70px;
    }
    .single-post-row {
        margin-bottom: 30px;
    }
    .sidebar {
        margin-top: 30px;
    }
    /* What We Offer Section */
    .offer-feature {
        width: 25%;
    }
    .offer-short {
        width: 75%;
        padding: 25px 0px 30px 70px;
    }
    .row .col-md-6:last-child .offer-short {
        padding-bottom: 0;
    }
    /* contact Page */
    .map-feature,
    .googleMap {
        height: 300px;
    }
    /* Footer Section */
    .company-logo {
        margin: 5px 0px 12px;
    }
    .footer-content {
        margin-bottom: 50px;
    }
    .footer-area {
        padding: 75px 0px 25px;
    }
    .call-to-action .footer-title {
        margin-bottom: 30px;
    }
.navbar-toggle {
  margin-bottom: 0;
  margin-top: 22px;
}
.navbar > .container .navbar-brand {
  margin-bottom: 25px;
  margin-top: 6px;
  padding: 15px;
}   
.social-link {
  margin-top: 16px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /* Utility Classes */
    .inner-padding {
        padding: 25px 0px;
    }
    .inner-padding2 {
        padding: 45px 0px 25px;
    }
    .inner-padding3 {
        padding: 25px 0px 45px;
    }
    .inner-padding4 {
        padding: 45px 0px;
    }
    /* Form Elements */
    .booking-area-inner {
        padding: 40px 0px 30px;
    }
    .input-group {
        margin-bottom: 15px;
    }
    .map-feature,
    .googleMap {
        height: 200px;
    }
    /* Custom Typography */
    .section-title-area {
        margin-bottom: 30px;
    }
    .section-title-area-2 {
        margin-bottom: 25px;
    }
    .section-title-area-2 p {
        width: 100%;
    }
    /* Customize Owl Carousel */
    .owl-dots {
        bottom: 30px;
    }
    .owl-nav {
        width: 100%;
        left: 0%;
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        z-index: 1;
    }
    .owl-prev,
    .owl-next {
        font-size: 25px;
        width: 35px;
        line-height: 35px;
        border-radius: 50%;
        height: 35px;
        text-align: center;
        background: #000;
    }
    /* Nav Style */
    .nav-area {
        padding-top: 0;
        background-color: rgba(30, 30, 30, 0.94);
    }
    .navbar > .container .navbar-brand {
        padding: 15px;
        margin: 0;
    }
    .navbar-nav {
        float: left;
        width: 100%;
    }
    .navbar-nav > li {
        width: 100%;
        border-bottom: 1px solid rgba(30, 30, 30, 0.94);
    }
    .navbar-nav > li:last-child {
        border-bottom: 0px;
    }
    .navbar-default .navbar-nav > li > a,
    .nav-area-5.navbar-default .navbar-nav > li > a,
    .nav-area-6.navbar-default .navbar-nav > li > a,
    .nav-area-7.navbar-default .navbar-nav > li > a {
        padding: 15px;
    }
    .nav-area-7.navbar> .container-fluid .navbar-brand {
        margin: 0;
    }
    .navbar-default .navbar-nav >.active > a:after {
        height: 40px;
        width: 3px;
        top: 15px;
        left: 0px;
    }
    .dropdown li ul.sub-menu {
        opacity: 1!important;
        pointer-events: none;
        transform-origin: right center 0!important;
        -webkit-transform: rotateY(0deg) translateX(20%)!important;
        -moz-transform: rotateY(0deg) translateX(20%)!important;
        -ms-transform: rotateY(0deg) translateX(20%)!important;
        -o-transform: rotateY(0deg) translateX(20%)!important;
        transform: rotateY(0deg) translateX(20%)!important;
    }
    /* Hero Section */
    .hero-area {
        min-height: 0;
    }
    .hero-slider-inner.owl-carousel .owl-item img {
        max-width: none;
        width: auto;
        height: 100%;
    }
    .hero-caption-inner h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .hero-caption-inner p {
        width: 100%;
        padding: 0px 15px;
    }
    /* Service Section */
    .service-item {
        margin: 15px 0px;
    }
    /* Event Section */
    .event-area-inner {
        padding: 50px 0px;
    }
    .cdown {
        margin-bottom: 15px;
    }
    .event-slider {
        padding: 0;
    }
    .event-slider .owl-item.center {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        z-index: 100;
    }
    .event-fee {
        font-size: 24px;
        line-height: 24px;
    }
    .event-slider .owl-stage-outer {
        padding: 30px 0px 0px;
    }
    .event-btn {
        margin: 0;
    }
    .popular-event {
        margin-bottom: 30px;
    }
    /* Gallery Section */
    .gallery-item {
        width: 100%;
    }
    /* Dj Profile Section */
    .dj-profile-area-inner {
        padding-top: 50px;
    }
    .profile-item-tab {
        margin-bottom: 15px;
    }
    .profile-tab {
        padding: 30px 15px 15px;
    }
    /* Blog Section */
    .post-row {
        margin-bottom: 15px;
    }
    .post-link {
        margin-bottom: 2px;
    }
    .post-row p {
        margin: 10px 0px;
    }
    .single-post-row {
        margin-bottom: 15px;
    }
    .single-post-caption {
        margin: -15px 15px 0px;
        padding: 20px 15px 40px;
    }
    .post-action .post-sticker,
    .post-share {
        width: 100%;
        text-align: center;
    }
    blockquote {
        padding: 10px 40px;
    }
    .user-comment {
        padding: 100px 0px 25px 0px;
    }
    .comment-list ol li {
        margin-left: 50px;
    }
    .sidebar {
        margin-top: 30px;
    }
    /* What We Offer Section */
    .offer-feature {
        width: 100%;
    }
    .offer-short {
        width: 100%;
        padding: 25px 0px 30px 70px;
    }
    .row .col-md-6:last-child .offer-short {
        padding-bottom: 0;
    }
    /* Footer Section */
    .footer-area {
        margin: 0!important;
        padding: 40px 0px 20px;
    }
    .footer-content {
        margin-bottom: 30px;
    }
    .footer-title {
        margin-bottom: 15px;
    }
    .footer-social-link {
        margin-top: 15px;
        text-align: center;
    }
    .call-to-action .input-group {
        margin-bottom: 15px;
    }
    /* About Page */
    .about-content {
        padding: 15px 15px 50px;
    }
    /* Gallery Page */
    .video-tab {
        margin-bottom: 15px;
    }
    .video-tab-content .video-player {
        border: 30px solid #000;
        min-height: 200px;
    }
    .video-tab-content a.close-me {
        top: 0px;
        right: 0px;
        font-size: 20px;
    }
    /* Booking Page */
    .booking-form {
        padding: 0px 15px;
    }
    /* Blog Page */
    .header-caption-inner h1 {
        font-size: 36px;
    }
    /* Error Page */
    .error-caption {
        min-height: 0px;
    }
    .error-caption img {
        margin: 0px auto 40px;
    }
    .error-caption p {
        font-size: 22px;
    }
    /* Footer Section */
    .call-to-action {
        margin-top: 0px !important;
        text-align: center;
        margin-bottom: 30px;
        padding: 15px;
    }
    .footer-logo {
        margin: 0px;
    }
    .social-link-center2 {
        margin-bottom: 30px;
    }
    .call-to-action .footer-title {
        margin-bottom: 15px;
    }
    .navbar-toggle {
  margin-bottom: 0;
  margin-top: 22px;
}
.navbar > .container .navbar-brand {
  margin-bottom: 25px;
  margin-top: 6px;
  padding: 15px;
} 
.social-link {
  margin-top: 16px;
}    
#event-slider-screen .caption-inner::after {
  content: inherit;
}    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 375px) and (max-width: 414px) {}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 320px) and (max-width: 374px) {}
