/* 
Table Of Contents
=========================
- Default Typography
- Custom Typography
=========================
*/


/* 
--------------------------
- Default Typography
--------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Perpetua', cursive;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    font-family: 'Perpetua', cursive;
}
h1 {
    font-size: 70px;
    line-height: 70px;
}
h2 {
    font-size: 28px;
    line-height: 30px;
}
h3 {
    font-size: 23px;
    line-height: 30px;
}
h4 {
    font-size: 18px;
    line-height: 27px;
}
h5 {
    font-size: 14px;
    line-height: 24px;
}
h6 {
    font-size: 12px;
    line-height: 24px;
}
p {
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0px;
    line-height: 24px;
}
p img {
    margin: 0;
}
span {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
}

/* em and strong */

em {
    font: 15px/30px;
}
strong,
b {
    font: 15px/30px;
}
small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 12px;
    line-height: inherit;
    letter-spacing: 0px;
}

/*  blockquotes */

blockquote {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 10px 70px;
    position: relative;
    margin-bottom: 25px;
    border: 0px;
}
blockquote p:after {
    font-family: FontAwesome;
    content: "\f10e";
    color: #f7f7f7;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    position: relative;
    top: 10px;
    right: -5px;
}
blockquote p:before {
    font-family: FontAwesome;
    content: "\f10d";
    color: #f7f7f7;
    font-size: 16px;
    line-height: 0px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: -20px;
}
blockquote p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif!important;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #f7f7f7;
    margin-bottom: 25px;
    padding: 0;
    position: relative;
}
blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
}
blockquote cite:before {
    content: "\201C";
    opacity: 0.5;
    font-size: 80px;
    line-height: 0px;
    margin: 0;
    font-family: arial, sans-serif;
    position: absolute;
    top: 30px;
    left: 0;
}
blockquote cite a,
blockquote cite a:visited {
    color: #0b0b0b;
    border: none
}

/* abbreviations */

abbr {
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .6px;
}
abbr:hover {
    cursor: help;
}
a,
a:visited {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}
a:hover,
a:active,
a:focus {
    color: #d32d0b!important;
    text-decoration: none;
    outline: 0;
}
p a,
p a:visited {
    line-height: inherit;
    outline: 0;
}

/* list */

ul,
ol {
    margin-bottom: 24px;
    margin-top: 12px;
}
ul {
    list-style: none outside;
}
ol {
    list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 30px;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 6px 0 6px 30px;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 6px;
}
li {
    line-height: 18px;
    margin-bottom: 12px;
    letter-spacing: 0px;
}
ul.large li {}
li p {}

/* definition list */

dl {
    margin: 12px 0;
}
dt {
    margin: 0;
    color: #11ABB0;
}
dd {
    margin: 0 0 0 20px;
}

/* 
--------------------------
- Custom Typography
--------------------------
*/

.section-title-area {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
}
.section-title-area-2 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 45px;
}
.section-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.section-divider {
    width: 90px;
    height: 25px;
    text-align: center;
    margin: auto;
    background-image: url(../img/divider.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.section-title-area-2 p {
    width: 600px;
    margin: 20px auto 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
}
